강사 instructor : 문병선
Phone Number : 010-5386-9306
e-mail : ekflafg@gmail.com
Github : https://github.com/bsmoon-86
lecture : https://github.com/bsmoon-86/ubion-8

csv/Koweps_hpc10_2015_beta1.sav
*.sav
R/.Rhistory
R/.Rhistory

